
#opening-text{
    color: #6eb51c;
    font-family: 'Helvetica', serif;
    font-size: 900 px;
    z-index: 3;
}
#links{
    color: #6eb51c;
    font-family: 'Helvetica', serif;
    font-size: 60 px;
    z-index: 3;
}
#headtext{
    color: #6eb51c;
    font-family: 'Helvetica', serif;
    font-size: 60 px;
    z-index: 3;
}
#images img{
    width:96px;
    height:auto;
    z-index: 3;
}
